<form  class="p-3 bg-faded" style="width: 50%;">
  <div class="form-group row">
    <label for="firstname" class="col-sm-3 col-form-label"><strong>Color Name</strong></label>
    <div class="col-sm-9">
      <p-dropdown  placeholder="Select a brand name" optionLabel="name" ></p-dropdown>
    </div>
  </div>
  <div class="form-group row">
    <label for="lastname" class="col-sm-3 col-form-label"><strong>Color Code</strong></label>
    <div class="col-sm-9">
      <input type="text" pInputText  />
      <!-- <input id="lastname" type="text" class="form-control" formControlName="lastname" /> -->
    </div>
  </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-3 col-form-label"></label>
      <div class="col-sm-9">
        <button style="margin-left: 5px;"  pButton type="button" class="ui-button-info" icon="fa-times" label="Submit" ></button>
      </div>
  </div>
</form>
